$pri-text-color: #ffc;
$accent-A: #04c8de;
$accent-B: #ff5edf;
$black-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
$darker-black-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
$base-transition: all ease 0.4s;
$base-transform: scale(0.9);
$heading-text-size: 1.4rem;
$heading-ptext-size: 1.2rem;
$button-text-size: 0.85rem;

* {
	margin: 0;
	padding: 0;
	transition: all 0.5s;
}

a {
	color: $pri-text-color;
	text-decoration: none;
}

.Accent-B {
	color: $accent-B;
}

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: linear-gradient(89deg, $accent-A 0%, $accent-B 100%);
	/* w3c */
	color: $pri-text-color;
	min-height: 100vh;
}

// .App {
// 	width: 80vw;
// 	height: 100vh;
// 	margin-left: auto;
// 	margin-right: auto;
// 	font-size: calc(10px + 2vmin);
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: space-between;
// }

/******  LOGIN PAGE  ******/
.login-container {
	display: flex;
	align-items: center;
	background-image: url('./logo.svg');
	height: calc(100vh - 70px);
	background-repeat: no-repeat;
	background-position: right;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 70px;

	@media screen and (max-width: 700px) {
		justify-content: center;
		background-image: none;
	}

	.card {
		/* Add shadows to create the "card" effect */
		box-shadow: $black-shadow;
		transition: 0.3s;
		height: auto;
		width: 45%;

		@media screen and (max-width: 700px) {
			width: 80%;
			height: auto;
			align-self: center;
		}

		@media screen and (max-width: 350px) {
			width: 100%;
			height: auto;
		}

		/* On mouse-over, add a deeper shadow */
		&:hover {
			box-shadow: $black-shadow;
		}
	}

	/* Add some padding inside the card container */
	& .container {
		padding-left: 7%;
		padding-right: 7%;
		height: 100%;

		& header {
			margin-top: 5%;
			font-size: 150%;
			font-weight: 500;
			display: flex;
			justify-content: space-between;

			& a {
				// border-bottom: 4px solid $accent-B;
				position: relative;
				&::after {
					content: '';
					display: block;
					width: 0;
					border-bottom: 4px solid $accent-B;
					transition: $base-transition;
				}

				&:hover::after {
					width: 100%;
				}
			}
		}

		& form {
			display: flex;
			height: 80%;
			flex-direction: column;
			justify-content: flex-start;
			align-self: center;
		}
	}

	& button {
		height: 40px;
		font-weight: bold;
		font-size: 15px;
		background-color: $accent-B;
		color: $pri-text-color;
		border: none;
		margin-top: 10%;
		margin-bottom: 10%;

		@media screen and (min-width: 700px) {
			width: auto;
			padding: 2% 5%;
			margin-right: auto;
			margin-left: auto;
		}

		&:hover {
			background-color: $accent-A;
			color: $pri-text-color;
			cursor: pointer;
		}

		&:focus {
			outline: none !important;
		}
	}
}

// .active {
// 	// margin-top: -1px;
// 	border-bottom: 4px solid $accent-B;
// 	position: absolute;
// }

.particles {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

input[type='text'],
input[type='password'] {
	padding-left: 1px;
	padding-right: 1px;
	height: 40px;
	border-radius: 2px;
	border: 0.5px solid rgb(143, 143, 143);
	font-size: 15px;
}

label:first-of-type {
	margin-top: 5%;
}

label {
	display: flex;
	flex-direction: column;
}

.spinner {
	animation: spinner infinite 0.9s linear;
	height: 90%;

	&:focus {
		border: none;
	}
}

@keyframes spinner {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.form-error {
	color: $pri-text-color;
	text-align: center;
	margin-top: 4%;
	margin-bottom: -4%;
}
/*	*****  LOGIN PAGE  ******/

/******  HEADER  ******/

#navigation {
	width: 100%;
	position: fixed;
	z-index: 10;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: $accent-B;
	box-shadow: $black-shadow;
	height: 70px;
	top: 0;
	// padding-right: 5%;
	// padding-left: 5%;

	& .logo {
		color: $pri-text-color;
		margin-left: 5%;
	}

	& button {
		background-color: transparent;
		border: none;
		margin-right: 5%;

		&:hover {
			cursor: pointer;
		}

		&:focus {
			outline: none !important;
		}
		& .btn-txt {
			width: auto;
			text-align: right;
			color: $pri-text-color;
		}
	}
}
/*	*****  HEADER  ******/

/******  HOME PAGE  ******/
.home,
.toggle-button {
	padding-top: 100px;
	margin-left: 5%; // Must be same with .login-container
	margin-right: 5%; // Must be same with .login-container
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	height: 80vh;
	background-color: orange;
}

.toggle-button {
	width: 200px;
	text-align: center;
	justify-content: center;
	height: 50px;
	border: none;
	background-color: $accent-B;
	color: $pri-text-color;
	font-size: 14px;
	font-weight: bold;

	@media screen and (min-width: 1400px) {
		margin-bottom: 10px;
	}

	&:hover {
		cursor: pointer;
		background-color: rgb(189, 1, 32);
	}
}

.home {
	@media screen and (max-width: 780px) {
		justify-content: flex-start;
		height: calc(80vh-100px);
	}

	@media screen and (min-width: 1400px) {
		margin: auto;
		width: 1400px;
	}

	&.loader {
		align-self: center;
		width: 100%;
		text-align: center;
	}

	&.error {
		width: 100%;
		align-self: center;
		color: $accent-B;
		font-size: 30px;
		font-weight: bold;
		text-align: center;
	}

	& > .card {
		/* Add shadows to create the "card" effect */
		box-shadow: $black-shadow;
		transition: 0.3s;
		height: 400px;
		width: 30%;
		position: relative;
		margin-bottom: 2%;

		/* On mouse-over, add a deeper shadow */
		&:hover {
			box-shadow: $darker-black-shadow;
		}

		& > img {
			width: 100%;
			height: 100%;
		}
	}

	&.card {
		@media screen and (max-width: 780px) {
			width: 45%;
		}
		@media screen and (max-width: 500px) {
			width: 90%;
		}
	}
}

.home .card .home .content {
	bottom: 0;
	z-index: 9;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.7);
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	height: 35%;
	padding-bottom: 5px;
	transition: 0.5s;
}

.home .content:hover {
	background-color: rgba(255, 255, 255, 1);
	height: 50%;
	cursor: pointer;
}

.content > h2 {
	text-align: center;
	font-size: 2rem;
}

.brain-form {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: stretch;

	& input,
	button {
		padding-right: 1%;
		padding-left: 1%;
	}
}
/*	*****  HOME PAGE  ******/

/*******  MODAL  *******/

.modal {
	background: rgba(0, 0, 0, 0.1);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	opacity: 1;
	visibility: visible;
	transition: opacity 0.4s ease, visibility 0.4s ease;

	&.off {
		opacity: 0;
		visibility: hidden;
	}
}

.modal-table-container {
	display: table;
	height: 100%;
	width: 100%;
}
.modal-table-cell {
	display: table-cell;
	vertical-align: middle;
}
.modal-overlay {
	width: 100%;
	background: #fff;
	margin: 0 auto;
	box-shadow: 0 1px 10px #aaa;
	border-radius: 4px;
	padding: 35px 30px 20px 30px;
}
.modal-overlay.small {
	max-width: 450px;
	margin-top: 5px;
	margin-bottom: 5px;
	max-height: calc(100vh - 10px);
	overflow: hidden;
}

.modal-header {
	margin-bottom: 30px;
}
.modal-title {
	font-size: 20px;
}

div.modal-form-inputs {
	max-height: calc(100vh - 210px);
	overflow-y: scroll;
	overflow: auto;
	margin-top: -10px;

	& input[type='text'] {
		height: auto;
		padding: 5px;
		width: 95%;
	}

	& label {
		margin-top: 5px;
		font-weight: lighter;
	}
}

.button {
	display: inline-block;
	font-family: 'Open Sans Semibold', sans-serif;
	white-space: nowrap;
	padding: 7px 10px;
	border: 1px solid transparent;
	cursor: pointer;
	outline: none;
	outline: 0;
	border-radius: 4px;
	transition: background 0.4s ease;
	font-size: 14px;

	&-default {
		background: transparent;
		border-color: #ddd;
		color: #666666;

		&:hover {
			border-color: #ccc;
			color: #333;
		}
	}

	&-primary {
		background: #0192dd;
		color: #fff;

		&:hover {
			background: #1e82b9;
		}
	}

	&:disabled {
		color: white;
		border-color: gray;
		background-color: gray;
	}
}

.form-action {
	padding-top: 20px;

	& .button:nth-child(2) {
		margin-right: 10px;
		font-family: 'Open Sans', sans-serif;
	}
}

.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
}
.clearfix:after {
	clear: both;
}

.pull-right {
	float: right !important;
}
/*	******  MODAL  *******/
