$pri-text-color: #ffc;
$accent-A: #04c8de;
$accent-B: #ff5edf;
$base-transition: all ease 0.4s;
$base-transform: scale(0.9);
$heading-text-size: 1.4rem;
$heading-ptext-size: 1.2rem;
$button-text-size: 0.85rem;

* {
	margin: 0;
	padding: 0;
}

a {
	color: $pri-text-color;
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: linear-gradient(89deg, $accent-A 0%, $accent-B 100%); /* w3c */
	color: $pri-text-color;
	min-height: 100vh;
}

.App {
	width: 80vw;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
	font-size: calc(10px + 2vmin);
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&-header {
		margin-top: 2vh;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&-logo {
		font-size: 110%;
		font-weight: 800;

		&:hover {
			transition: $base-transition;
			transform: $base-transform;
		}
	}

	&-navbar {
		color: $pri-text-color;
		transition: $base-transition;

		&:hover {
			transform: $base-transform;
		}

		& ul {
			list-style-type: none;
		}
	}

	&-main {
		margin-bottom: 4vh;
		/* max-width: 50vw; */
		height: 70vh;
		background-color: blue;
		display: flex;

		&-welcome {
			width: 90%;
			margin-left: auto;
			margin-right: auto;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
		}
	}

	&-heading-text {
		text-align: center;
		font-size: $heading-text-size;
	}

	&-heading-ptext {
		text-align: center;
		padding-top: 5%;
		font-size: $heading-ptext-size;

		@media screen and (max-width: 400px) {
			padding-top: 10%;
		}
	}

	&-form-container {
		height: 90%;
		width: 40%;
		margin: auto;
		padding-top: 4%;
		background-color: wheat;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@media screen and (max-width: 400px) {
			width: 90%;
			padding-top: 10%;
		}
	}

	&-form-nav {
		text-align: center;
		padding-top: 4%;
		padding-bottom: 5%;

		font-size: $button-text-size;

		@media screen and (max-width: 400px) {
			padding-top: 8%;
			padding-bottom: 10%;
		}

		& ul {
			list-style-type: none;
			display: flex;
			justify-content: center;

			& li {
				border-bottom: 2px solid black;
				padding-right: 4%;
				padding-left: 4%;
				min-width: auto;
				text-transform: uppercase;
				transition: $base-transition;
			}

			// & li:hover {
			// 	transform: $base-transform;
			// }
		}
	}
	.active {
		border-bottom: 4px solid black;
	}

	&-homepage-form {
		width: 90%;
		margin-right: auto;
		margin-left: auto;
		background-color: brown;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;

		& input,
		& button {
			display: block;
			padding: 3%;
			padding-left: 5%;
			margin-bottom: 5%;
			border-radius: 1px;
			border: none;

			@media screen and (max-width: 400px) {
				// padding-top: 10%;
				margin-bottom: 10%;
			}
		}

		& button {
			font-size: $button-text-size;
			padding-left: 0;
			text-transform: uppercase;
			color: $pri-text-color;
			background: linear-gradient(
				89deg,
				$accent-B 0%,
				$accent-A 100%
			); /* w3c */
			transition: $base-transition;

			&:hover {
				background: linear-gradient(
					89deg,
					$accent-A 0%,
					$accent-B 100%
				); /* w3c */
			}
		}
	}
}

/* @media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
} */

// .App-infobar {
// 	text-align: center;
// 	margin: 0;
// 	padding: 0;
// }
// .App-infobar p {
// 	text-align: center;
// 	margin: 0;
// 	padding: 1.5vh;
// }

// .App-search-form {
// 	/* padding: 2vh; */
// 	display: flex;
// 	flex-direction: row;
// 	justify-content: center;
// }

// .App-mid-section {
// 	height: 20vh;
// 	display: flex;
// 	flex-direction: column;
// 	/* justify-content: space-around; */
// }

// .App-img-container {
// 	background-color: red;
// 	height: 80vh;
// 	width: 100%;
// }

// .App-search-form input {
// 	padding: 0.5%;
// 	width: 40%;
// 	/* justify-self: stretch; */
// }

// .App-search-form button {
// 	padding: 0.5% 1.5%;
// }

// .App-login-form {
// 	width: 50%;
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: stretch;
// 	align-self: center;
// }

// /* .App-login-form input {
// 	padding: 0.5%;
// 	width: 40%;
// 	justify-self: stretch;
// }

// .App-login-form button {
// 	padding: 0.5% 1.5%;
// } */

// .App-link {
// 	color: #61dafb;
// }

// @keyframes App-logo-spin {
// 	from {
// 		transform: rotate(0deg);
// 	}
// 	to {
// 		transform: rotate(360deg);
// 	}
// }
